In [1]:
import pandas as pd
import numpy as np

In [2]:
file = pd.read_csv("Resources/LAB_Data_V.2.csv")
lab_data = pd.DataFrame(file)

In [3]:
lab_data.head()

              Date TA.OVH.RECYCLE.NC4.VOLPCT
0  7/15/2022 13:00               11.19999981
1   7/15/2022 6:00               13.89999962
2  7/14/2022 13:00               13.60000038
3   7/14/2022 6:00                        11
4  7/13/2022 13:00               10.69999981

In [20]:
lab_data.loc[lab_data['TA.OVH.RECYCLE.NC4.VOLPCT'] == "I/O Timeout"] = np.nan
lab_data.loc[lab_data['TA.OVH.RECYCLE.NC4.VOLPCT'] == "Error"] = np.nan
lab_data.loc[lab_data['TA.OVH.RECYCLE.NC4.VOLPCT'] == "Bad"] = np.nan
lab_data.loc[lab_data['TA.OVH.RECYCLE.NC4.VOLPCT'] == "Bad Input"] = np.nan

In [21]:
lab_data['TA.OVH.RECYCLE.NC4.VOLPCT'] = lab_data['TA.OVH.RECYCLE.NC4.VOLPCT'].astype(float)

In [22]:
lab_data.dtypes

Date                          object
TA.OVH.RECYCLE.NC4.VOLPCT    float64
dtype: object

In [24]:
lab_data.loc[lab_data['TA.OVH.RECYCLE.NC4.VOLPCT'] <=0]

                   Date  TA.OVH.RECYCLE.NC4.VOLPCT
447    11/11/2021 13:00                        0.0
1282    6/10/2020 13:00                        0.0
1576        43741.54167                        0.0
1588        43735.54167                        0.0
1659        43695.54167                        0.0
1698           43676.25                        0.0
1727        43637.54167                        0.0
12423       43180.54167                        0.0
13225       42725.54167                        0.0
13521       42565.54167                        0.0
14734       41869.54167                        0.0
15476          41335.25                        0.0