In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from connection import get_db_connection

# establish connect with postgres database to extract data
conn = get_db_connection()
cursor = conn.cursor()
cursor.execute("select * from lab_ta")
result = cursor.fetchall()

df = pd.DataFrame(result)

column_names = ['Date', 
	'N_Butane',
	'TA_Charge',
	'TA_Overhead_Pressure',
	'TA_Tray4_Temp',
	'TA_Overhead_Temp',
	'TA_Recieved_PCT',
	'TA_Received_Pressure',
	'TA_Recycle_to_Contact',
	'TA_Recycle_to_Contact_Temp',
	'TA_Tray39_Temp',
	'TA_Tray45_Temp',
	'TA_Differential_Pressure',
	'TA_Bottom_Pressure',
	'TA_Bottom_lvl_PCT',
	'TA_Bottom_Reboil_Temp',
	'TA_Top_Reboil_Temp']

df.columns = column_names
df.head()

3953
Hello

,Date,N_Butane,TA_Charge,TA_Overhead_Pressure,TA_Tray4_Temp,TA_Overhead_Temp,TA_Recieved_PCT,TA_Received_Pressure,TA_Recycle_to_Contact,TA_Recycle_to_Contact_Temp,TA_Tray39_Temp,TA_Tray45_Temp,TA_Differential_Pressure,TA_Bottom_Pressure,TA_Bottom_lvl_PCT,TA_Bottom_Reboil_Temp,TA_Top_Reboil_Temp
0,2022-07-15 13:00:00,11.2,10731.70,99.3015,134.690,133.142,1.43277,100.6220,6399.56,97.0362,160.829,177.024,0.669861,98.6317,74.7785,315.351,188.917
1,2022-07-15 06:00:00,13.9,10332.80,99.4718,134.799,133.279,3.47972,99.4844,6395.50,93.1154,159.833,175.662,0.578269,98.8974,72.9287,312.314,188.059
2,2022-07-14 13:00:00,13.6,9904.88,98.9721,134.373,132.781,2.86088,99.4194,5933.97,97.9910,161.156,178.833,0.781860,98.1916,73.6826,318.302,191.867
3,2022-07-14 06:00:00,11.0,9641.81,99.9473,134.968,133.289,4.89930,99.8585,5902.11,92.6630,159.716,176.088,0.605774,99.3375,74.8739,312.120,187.954
4,2022-07-13 13:00:00,10.7,9876.03,99.6066,135.241,133.307,1.20264,100.4340,5749.20,98.5493,163.995,182.754,0.644531,98.9561,76.2323,318.609,195.616

In [2]:
# Separate the Features (X) from the Target (y)
y = df["N_Butane"]
X = df.drop(["N_Butane", "Date"], axis = 1)

# Split into train data and test data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=0)

# Import Linear Regression Model

model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make Predictions
y_pred = model.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head()

# Calculated Metrics
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import explained_variance_score as evs

# r2 score
regression_score = r2_score(y_test, y_pred)

# Mean Squared Error (MSE)
from cmath import sqrt
mean_sq_error = mse(y_test, y_pred)
mean_error = sqrt(mean_sq_error).real

# Mean Absolute Error (MAE)
mean_abs_error = mae(y_test, y_pred)

# explained variance score
ev_score = evs(y_test, y_pred)


print(regression_score)
print(mean_error)
print(mean_abs_error)
print(ev_score)

0.5957330724283174
7.421323551059396
1.6453783617414262
0.5960065117195092