In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from connection import get_db_connection

# establish connect with postgres database to extract data
conn = get_db_connection()
cursor = conn.cursor()
cursor.execute("select * from lab_rx")
result = cursor.fetchall()

df = pd.DataFrame(result)

column_names = ['Date', 
	'N_Butane',
	'TB_Recycle_Charge',
	'NorthTC_Charge',
	'North_Flush_Pressure',
	'North_Out_Temp',
	'SouthTA_Recycle_Charge',
	'SouthTC_Charge',
	'South_Flush_Pressure',
	'South_Out_Temp',
	'South_Water_Return_Temp',
	'South_Water_Return_PH',
	'Out_Delta_Temp']

df.columns = column_names
df.head()

,Date,N_Butane,TB_Recycle_Charge,NorthTC_Charge,North_Flush_Pressure,North_Out_Temp,SouthTA_Recycle_Charge,SouthTC_Charge,South_Flush_Pressure,South_Out_Temp,South_Water_Return_Temp,South_Water_Return_PH,Out_Delta_Temp
0,2022-07-15 13:00:00,11.2,2129.65,2675.76,154.651,98.2989,6399.56,2656.33,143.764,101.0690,83.5793,6.61522,-2.76502
1,2022-07-15 06:00:00,13.9,2272.00,2525.60,154.997,94.0955,6395.50,2514.06,145.534,97.1518,80.8769,6.61648,-3.04153
2,2022-07-14 13:00:00,13.6,2201.02,2205.66,154.588,97.2448,5933.97,2414.58,145.156,101.6000,85.2561,6.55326,-4.41169
3,2022-07-14 06:00:00,11.0,2298.88,2419.37,153.091,94.8862,5902.11,2375.45,143.621,97.6705,82.3259,6.55773,-2.75326
4,2022-07-13 13:00:00,10.7,2269.17,2569.28,149.635,99.7484,5749.20,2567.08,141.749,102.5130,86.0275,6.56847,-2.85072

In [2]:
# Separate the Features (X) from the Target (y)
y = df["N_Butane"]
X = df.drop(["N_Butane", "Date"], axis = 1)

# Split into train data and test data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=0)

# Import Linear Regression Model

model = LinearRegression()

# Train the model
model.fit(X_train, y_train)

# Make Predictions
y_pred = model.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head()

# Calculated Metrics
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import explained_variance_score as evs

# r2 score
regression_score = r2_score(y_test, y_pred)

# Mean Squared Error (MSE)
from cmath import sqrt
mean_sq_error = mse(y_test, y_pred)
mean_error = sqrt(mean_sq_error).real

# Mean Absolute Error (MAE)
mean_abs_error = mae(y_test, y_pred)

# explained variance score
ev_score = evs(y_test, y_pred)


print(regression_score)
print(mean_error)
print(mean_abs_error)
print(ev_score)

0.16197309946142624
3.5980773932651045
2.4820978902172026
0.1623079855879056