In [66]:
from pathlib import Path
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import numpy as np

# Pull in lab_pass1.csv
lab1 = Path('Original_CSV/lab_pass1.csv')
lab_pass1 = pd.read_csv(lab1)

# Pull in rx_pass1.csv
rx1 = Path('Original_CSV/rx_pass1.csv')
rx_pass1 = pd.read_csv(rx1)

# Pull in ta_pass1.csv
ta1 = Path('Original_CSV/ta_pass1.csv')
ta_pass1 = pd.read_csv(ta1)

# Pull in tb_pass1.csv
tb1 = Path('Original_CSV/tb_pass1.csv')
tb_pass1 = pd.read_csv(tb1)

# Pull in tc_pass1.csv
tc1 = Path('Original_CSV/tc_pass1.csv')
tc_pass1 = pd.read_csv(tc1)

In [61]:
# Clean lab data
lab_pass1
print(lab_pass1.shape[0])
nan_value = float("NaN")
# Convert NaN values to empty string
lab_pass1.replace("", nan_value, inplace=True)
lab_pass1.dropna(subset = ["Date"], inplace=True)
print(lab_pass1.shape[0])
# Remove duplicate dates
lab_pass1.drop_duplicates(subset=['Date'])
# Key ("Date")=(8/31/18 13:00)
# Key ("Date")=(6/30/18 13:00)

print(lab_pass1.shape[0])
lab_pass1.head()

# Export in new CSV
lab_pass1.to_csv('lab_pass2.csv', index=False)

5342
5329
5329

In [62]:
# Clean rx data
rx_pass1
print(rx_pass1.shape[0])
nan_value = float("NaN")
# Convert NaN values to empty string
rx_pass1.replace("", nan_value, inplace=True)
rx_pass1.dropna(subset = ["Date"], inplace=True)
print(rx_pass1.shape[0])
# Remove duplicate dates
rx_pass1.drop_duplicates(subset=['Date'])
# Key ("Date")=(8/31/18 13:00)
# Key ("Date")=(6/30/18 13:00) 
print(rx_pass1.shape[0])
rx_pass1.head()

# Export in new CSV
rx_pass1.to_csv('rx_pass2.csv', index=False)

3984
3984
3984

In [63]:
# Clean ta data
ta_pass1
print(ta_pass1.shape[0])
nan_value = float("NaN")
# Convert NaN values to empty string
ta_pass1.replace("", nan_value, inplace=True)
ta_pass1.dropna(subset = ["Date"], inplace=True)
print(ta_pass1.shape[0])
# Remove duplicate dates
ta_pass1.drop_duplicates(subset=['Date'])
# Key ("Date")=(8/31/18 13:00)
# Key ("Date")=(6/30/18 13:00) 
print(ta_pass1.shape[0])
ta_pass1.head()

# Export in new CSV
ta_pass1.to_csv('ta_pass2.csv', index=False)

2546
2546
2546

In [64]:
# Clean tb data
tb_pass1
print(tb_pass1.shape[0])
nan_value = float("NaN")
# Convert NaN values to empty string
tb_pass1.replace("", nan_value, inplace=True)
tb_pass1.dropna(subset = ["Date"], inplace=True)
print(tb_pass1.shape[0])
# Remove duplicate dates
tb_pass1.drop_duplicates(subset=['Date'])

print(tb_pass1.shape[0])
tb_pass1.head()

# Export in new CSV
tb_pass1.to_csv('tb_pass2.csv', index=False)

1416
1416
1416

In [68]:
# Clean tc data
tc_pass1
print(tc_pass1.shape[0])
nan_value = float("NaN")
# Convert NaN values to empty string
tc_pass1.replace("", nan_value, inplace=True)
tc_pass1.dropna(subset = ["Date"], inplace=True)
print(tc_pass1.shape[0])
# Remove duplicate dates
tc_pass1.drop_duplicates(subset=['Date'])
# Key ("Date")=(8/31/18 13:00)
# Key ("Date")=(6/30/18 13:00)
print(tc_pass1.shape[0])
tc_pass1.head()

# Export in new CSV
tc_pass1.to_csv('tc_pass2.csv', index=False)

5260
5260
5260