In [1]:
import pandas as pd
import numpy as np

In [2]:
file = pd.read_csv("Resources/LAB_Data_RAW.csv")
lab_df = pd.DataFrame(file)
lab_df

                Date TA.OVH.RECYCLE.NC4.VOLPCT
0      7/15/22 13:00               11.19999981
1       7/15/22 6:00               13.89999962
2      7/14/22 13:00               13.60000038
3       7/14/22 6:00                        11
4      7/13/22 13:00               10.69999981
...              ...                       ...
15584    1/6/13 6:00                        18
15585   1/5/13 13:00               14.39999962
15586    1/5/13 6:00               10.19999981
15587   1/4/13 13:00               6.099999905
15588    1/4/13 6:00               4.900000095

[15589 rows x 2 columns]

In [3]:
lab_df.dtypes

Date                         object
TA.OVH.RECYCLE.NC4.VOLPCT    object
dtype: object

In [4]:
lab_df.loc[lab_df['TA.OVH.RECYCLE.NC4.VOLPCT'] == "I/O Timeout"] = np.nan
    # 6 timeout strings
lab_df.loc[lab_df['TA.OVH.RECYCLE.NC4.VOLPCT'] == "Error"] = np.nan
    # 28 error strings
lab_df.loc[lab_df['TA.OVH.RECYCLE.NC4.VOLPCT'] == "Bad"] = np.nan
    # 0 bad strings
lab_df.loc[lab_df['TA.OVH.RECYCLE.NC4.VOLPCT'] == "Bad Input"] = np.nan
    # 0 bad input strings

In [5]:
lab_df.isnull().sum()

Date                         34
TA.OVH.RECYCLE.NC4.VOLPCT    34
dtype: int64

In [6]:
lab_df.dropna()

                Date TA.OVH.RECYCLE.NC4.VOLPCT
0      7/15/22 13:00               11.19999981
1       7/15/22 6:00               13.89999962
2      7/14/22 13:00               13.60000038
3       7/14/22 6:00                        11
4      7/13/22 13:00               10.69999981
...              ...                       ...
15584    1/6/13 6:00                        18
15585   1/5/13 13:00               14.39999962
15586    1/5/13 6:00               10.19999981
15587   1/4/13 13:00               6.099999905
15588    1/4/13 6:00               4.900000095

[15555 rows x 2 columns]

In [7]:
lab_df['TA.OVH.RECYCLE.NC4.VOLPCT'] = lab_df['TA.OVH.RECYCLE.NC4.VOLPCT'].astype(float)

In [8]:
lab_df.dtypes

Date                          object
TA.OVH.RECYCLE.NC4.VOLPCT    float64
dtype: object

In [9]:
lab_df.describe()

       TA.OVH.RECYCLE.NC4.VOLPCT
count               15555.000000
mean                   11.293631
std                     8.909778
min                     0.000000
25%                     9.600000
50%                    11.100000
75%                    12.700000
max                  1005.000000

In [10]:
#lab_df.loc[lab_df['TA.OVH.RECYCLE.NC4.VOLPCT'] >=100] = np.nan

In [11]:
#lab_df.dropna()
#lab_df.describe()

In [12]:
lab_df.to_csv('Resources/lab_clean.csv')